terraform/SLES15-SP1-JeOS.x86_64-15.1-OpenStack-Cloud-GM.qcow2
terraform/SLES15-SP1-JeOS.x86_64-15.1-OpenStack-Cloud-QU2.qcow2
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/state/*.tfstate*
terraform/.terraform
terraform/files/id_rsa
terraform/files/id_rsa.b64
